# DATA WRANGLING

**Read files, parse data, create dataframes**

In [2]:
# Reading, parsing XML file, saving as nested dictionary

import xml.etree.ElementTree as ET
import pandas as pd

dic_xml = {}
dic_aut = {}
dic_work = {}
files_to_read = 33288638

for nr_file in range(1,files_to_read+1):
    file = 'books_xml/' + str(nr_file) + '.xml'
    try:
        tree = ET.parse(file)
        root = tree.getroot()
        dic_xml[nr_file] = {}
        dic_aut[nr_file] = {}
        dic_work[nr_file] = {}

        # creating books dictionary
        for i in range(len(root[1])):
            child = root[1][i].tag
            element = root[1][i].text
            dic_xml[nr_file].update({child:element})
        
        # creating authors dictionary
        for i in range(len(root[1][26][0])):
            child = root[1][26][0][i].tag
            element = root[1][26][0][i].text
            dic_aut[nr_file].update({child:element})
            
        # creating work id dictionary
        for i in range(len(root[1][17])):
            child = root[1][17][i].tag
            element = root[1][17][i].text
            dic_work[nr_file].update({child:element})
            
    except Exception:
        pass

In [3]:
len(root[1][17])

17

In [175]:
# Creating books dataframe

df_books = pd.DataFrame.from_dict(dic_xml, orient='index')

df_books.head()

,id,title,isbn,isbn13,asin,kindle_asin,marketplace_id,country_code,image_url,small_image_url,...,url,link,authors,reviews_widget,popular_shelves,book_links,buy_links,series_works,similar_books,public_document
1,1,Harry Potter and the Half-Blood Prince (Harry ...,0439785960,9780439785969,None,B019PIOJZE,A1F83G8C2ARO7P,GB,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...,...,https://www.goodreads.com/book/show/1.Harry_Po...,https://www.goodreads.com/book/show/1.Harry_Po...,\n,\n \n <style>\n #goodreads-widget...,\n,\n,\n,\n,\n,NaN
2,2,Harry Potter and the Order of the Phoenix (Har...,0439358078,9780439358071,None,B019PIOJV8,A1F83G8C2ARO7P,GB,https://images.gr-assets.com/books/1387141547m...,https://images.gr-assets.com/books/1387141547s...,...,https://www.goodreads.com/book/show/2.Harry_Po...,https://www.goodreads.com/book/show/2.Harry_Po...,\n,\n \n <style>\n #goodreads-widget...,\n,\n,\n,\n,\n,NaN
3,3,Harry Potter and the Sorcerer's Stone (Harry P...,0439554934,9780439554930,None,B019PIOJYU,A1F83G8C2ARO7P,GB,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,...,https://www.goodreads.com/book/show/3.Harry_Po...,https://www.goodreads.com/book/show/3.Harry_Po...,\n,\n \n <style>\n #goodreads-widget...,\n,\n,\n,\n,\n,NaN
5,5,Harry Potter and the Prisoner of Azkaban (Harr...,043965548X,9780439655484,None,None,None,GB,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...,...,https://www.goodreads.com/book/show/5.Harry_Po...,https://www.goodreads.com/book/show/5.Harry_Po...,\n,\n \n <style>\n #goodreads-widget...,\n,\n,\n,\n,\n,NaN
6,6,Harry Potter and the Goblet of Fire (Harry Pot...,0439139600,9780439139601,None,B019PIOJWW,A1F83G8C2ARO7P,GB,https://images.gr-assets.com/books/1361482611m...,https://images.gr-assets.com/books/1361482611s...,...,https://www.goodreads.com/book/show/6.Harry_Po...,https://www.goodreads.com/book/show/6.Harry_Po...,\n,\n \n <style>\n #goodreads-widget...,\n,\n,\n,\n,\n,NaN

In [176]:
# Creating authors dataframe

df_author = pd.DataFrame.from_dict(dic_aut, orient='index')

df_author.head()

,id,name,role,image_url,small_image_url,link,average_rating,ratings_count,text_reviews_count
1,1077326,J.K. Rowling,None,\nhttps://images.gr-assets.com/authors/1415945...,\nhttps://images.gr-assets.com/authors/1415945...,https://www.goodreads.com/author/show/1077326....,4.43,18039589,434729
2,1077326,J.K. Rowling,None,\nhttps://images.gr-assets.com/authors/1415945...,\nhttps://images.gr-assets.com/authors/1415945...,https://www.goodreads.com/author/show/1077326....,4.43,18039589,434729
3,1077326,J.K. Rowling,None,\nhttps://images.gr-assets.com/authors/1415945...,\nhttps://images.gr-assets.com/authors/1415945...,https://www.goodreads.com/author/show/1077326....,4.43,18039589,434729
5,1077326,J.K. Rowling,None,\nhttps://images.gr-assets.com/authors/1415945...,\nhttps://images.gr-assets.com/authors/1415945...,https://www.goodreads.com/author/show/1077326....,4.43,18039589,434729
6,1077326,J.K. Rowling,None,\nhttps://images.gr-assets.com/authors/1415945...,\nhttps://images.gr-assets.com/authors/1415945...,https://www.goodreads.com/author/show/1077326....,4.43,18039589,434729

In [177]:
# Creating work id dataframe (in case work_id is needed)

df_work = pd.DataFrame.from_dict(dic_work, orient='index')

df_work.head()

,id,books_count,best_book_id,reviews_count,ratings_sum,ratings_count,text_reviews_count,original_publication_year,original_publication_month,original_publication_day,original_title,original_language_id,media_type,rating_dist,desc_user_id,default_chaptering_book_id,default_description_language_code
1,41335427,275,1,2234433,8109581,1787108,27548,2005,7,16,Harry Potter and the Half-Blood Prince,None,book,5:1162549|4:459309|3:136413|2:21524|1:7313|tot...,5119944,1,None
2,2809203,308,2,2280560,8221107,1841867,28717,2003,6,21,Harry Potter and the Order of the Phoenix,None,book,5:1125716|4:494730|3:180301|2:31584|1:9536|tot...,19196567,2,None
3,4640799,491,3,5593512,21353470,4805917,75950,1997,6,26,Harry Potter and the Philosopher's Stone,None,book,5:3015593|4:1157556|3:455382|2:101749|1:75637|...,32761625,121121,None
5,2402163,376,5,2427315,8925384,1971147,36147,1999,7,8,Harry Potter and the Prisoner of Azkaban,None,book,5:1267999|4:509806|3:166202|2:20419|1:6721|tot...,4777527,8723737,None
6,3046572,22,6,2315626,8465065,1870287,31124,2000,7,8,Harry Potter and the Goblet of Fire,None,book,5:1196275|4:495237|3:151874|2:20219|1:6682|tot...,36328101,864890,None

In [178]:
# Reading book tags into dataframe:

df_book_tags = pd.read_csv('book_tags.csv', sep=',', na_values='Nothing', header=0)
df_book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [179]:
# Reading tags into dataframe:

df_tags = pd.read_csv('tags.csv', sep=',', na_values='Nothing', header=0)
df_tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [180]:
# Reading ratings into dataframe:

df_ratings = pd.read_csv('ratings.csv', sep=',', na_values='Nothing', header=0)
df_ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [181]:
# Reading to_read into dataframe

df_to_read = pd.read_csv('to_read.csv', sep=',', na_values='Nothing', header=0)
df_to_read.head()

   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380

**Cleaning df_books**

In [182]:
df_books.shape

(10000, 34)

In [183]:
df_author.shape

(10000, 9)

In [184]:
# Fixing author id
df_books['authors'] = df_author['id']


# Creating column from df_author
df_books['author_name'] = df_author['name']
df_books['average_rating_author'] = df_author['average_rating']
df_books['ratings_count_author'] = df_author['ratings_count']
df_books['text_reviews_count_author'] = df_author['text_reviews_count']

In [185]:
df_books[['average_rating','average_rating_author']]

         average_rating average_rating_author
1                  4.54                  4.43
2                  4.46                  4.43
3                  4.44                  4.43
5                  4.53                  4.43
6                  4.53                  4.43
8                  4.77                  4.43
10                 4.73                  4.43
11                 4.20                  4.19
13                 4.37                  4.19
21                 4.19                  4.01
24                 4.05                  4.01
25                 3.89                  4.01
26                 3.83                  4.01
27                 3.88                  4.01
28                 3.91                  4.01
29                 3.95                  4.01
30                 4.59                  4.31
33                 4.47                  4.31
34                 4.34                  4.31
36                 4.53                  4.53
50                 3.68                  3.75
67                 3.82                  3.85
93                 3.97                  3.97
98                 3.86                  3.76
105                3.89                  4.07
106                3.86                  4.07
112                3.90                  4.07
117                3.84                  4.07
119                4.59                  4.39
122                4.34                  4.17
...                 ...                   ...
29632984           3.82                  3.81
29639736           3.84                  3.86
29780253           4.49                  4.49
29868610           3.92                  3.92
29906980           3.93                  3.98
29925715           3.77                  3.80
29975458           3.52                  3.52
29981261           4.07                  4.06
29991719           4.11                  4.13
30002998           3.90                  4.06
30008702           3.71                  3.72
30065028           4.41                  4.43
30226723           4.03                  4.02
30253700           4.14                  4.19
30253864           4.04                  3.76
30314465           4.19                  4.04
30364931           4.23                  4.13
30555488           4.04                  3.88
30831912           4.12                  4.13
30839185           4.25                  4.18
31140847           4.25                  4.15
31176886           3.69                  3.64
31194270           3.64                  3.64
31538614           4.20                  4.43
31538635           4.22                  4.43
31538647           4.21                  4.43
31845516           4.10                  4.13
32075671           4.62                  4.62
32848471           4.34                  4.15
33288638           4.22                  4.23

[10000 rows x 2 columns]

In [186]:
df_books.columns

Index(['id', 'title', 'isbn', 'isbn13', 'asin', 'kindle_asin',
       'marketplace_id', 'country_code', 'image_url', 'small_image_url',
       'publication_year', 'publication_month', 'publication_day', 'publisher',
       'language_code', 'is_ebook', 'description', 'work', 'average_rating',
       'num_pages', 'format', 'edition_information', 'ratings_count',
       'text_reviews_count', 'url', 'link', 'authors', 'reviews_widget',
       'popular_shelves', 'book_links', 'buy_links', 'series_works',
       'similar_books', 'public_document', 'author_name',
       'average_rating_author', 'ratings_count_author',
       'text_reviews_count_author'],
      dtype='object')

Potential columns to be used: id, title, country_code, publication_year, publication_month, publication_day, language_code, average_rating, num_pages, format, ratings_count, text_reviews_count, authors, author_name

In [187]:
df_books_c = df_books[['id', 'title', 'country_code', 'publication_year', 'publication_month', 'publication_day', 'language_code', 'average_rating', 'num_pages', 'format', 'ratings_count', 'text_reviews_count', 'authors', 'author_name']]

In [188]:
# Finding null values
(df_books_c.isnull() == True).sum(axis=0)

id                       0
title                    0
country_code             0
publication_year      2235
publication_month     2779
publication_day       3081
language_code         1083
average_rating           0
num_pages              899
format                2545
ratings_count            0
text_reviews_count       0
authors                  0
author_name              0
dtype: int64

In [189]:
df_books_c[df_books_c['publication_year'].isnull() == True]

,id,title,country_code,publication_year,publication_month,publication_day,language_code,average_rating,num_pages,format,ratings_count,text_reviews_count,authors,author_name
13,13,The Ultimate Hitchhiker's Guide to the Galaxy,GB,None,None,None,eng,4.37,815,None,222943,3477,4,Douglas Adams
21,21,A Short History of Nearly Everything,GB,None,None,None,en-US,4.19,544,None,191685,7627,7,Bill Bryson
50,50,"Hatchet (Brian's Saga, #1)",GB,None,None,None,en-US,3.68,None,None,222727,9307,18,Gary Paulsen
119,119,The Lord of the Rings: The Art of The Fellowsh...,GB,None,None,None,en-US,4.59,None,None,24343,64,60,Gary Russell
231,231,I am Charlotte Simmons,GB,None,None,None,en-US,3.40,738,None,19301,1603,3083854,Tom Wolfe
249,249,Tropic of Cancer,GB,None,None,None,eng,3.71,None,None,45552,2033,147,Henry Miller
250,250,Tropic of Capricorn,GB,None,None,None,eng,3.85,None,None,12089,405,147,Henry Miller
275,275,The Lover,GB,None,None,None,eng,3.76,117,None,18966,1139,163,Marguerite Duras
357,357,The Long Dark Tea-Time of the Soul (Dirk Gentl...,GB,None,None,None,en-US,4.05,307,Mass Market Paperback,59318,1165,4,Douglas Adams
597,597,Killing Yourself to Live: 85% of a True Story,GB,None,None,None,en-US,3.85,245,None,23018,1051,375,Chuck Klosterman
599,599,"Sex, Drugs, and Cocoa Puffs: A Low Culture Man...",GB,None,None,None,en-US,3.75,253,None,56565,3232,375,Chuck Klosterman
647,647,No Logo,GB,None,None,None,en-US,3.86,None,None,18806,637,419,Naomi Klein
698,698,Digging to America,GB,None,None,None,eng,3.53,277,None,15486,1679,457,Anne Tyler
706,706,America (The Book): A Citizen's Guide to Democ...,GB,None,None,None,eng,4.02,228,Hardcover,74537,1094,466,Jon Stewart
771,771,"The Elegant Universe: Superstrings, Hidden Dim...",GB,None,None,None,en-US,4.06,425,None,32628,1047,509,Brian Greene
823,823,"Quicksilver (The Baroque Cycle, #1)",GB,None,None,None,en-US,3.92,927,None,27683,1544,545,Neal Stephenson
825,825,Zodiac,GB,None,None,None,eng,3.70,308,Mass Market Paperback,13357,453,545,Neal Stephenson
890,890,Of Mice and Men,GB,None,None,None,eng,3.84,112,Paperback,1468431,20148,585,John Steinbeck
900,900,The Game: Penetrating the Secret Society of Pi...,GB,None,None,None,en-US,3.73,None,None,16709,1346,588,Neil Strauss
952,952,The Five Love Languages of Children,GB,None,None,None,None,4.21,None,None,9746,961,622,Gary Chapman
960,960,"Angels & Demons (Robert Langdon, #1)",GB,None,None,None,en-CA,3.85,713,Mass Market Paperback,2002784,19446,630,Dan Brown
998,998,The Millionaire Next Door: The Surprising Secr...,GB,None,None,None,eng,4.00,258,None,44018,1836,659,Thomas J. Stanley
1005,1005,Think and Grow Rich: The Landmark Bestseller -...,GB,None,None,None,eng,4.17,None,None,87458,2186,399,Napoleon Hill
1052,1052,The Richest Man in Babylon,GB,None,None,None,eng,4.23,194,None,50290,1956,688,George S. Clason
1067,1067,1776,GB,None,None,None,eng,4.06,386,None,130445,5417,6281688,David McCullough
1232,1232,The Shadow of the Wind (The Cemetery of Forgot...,GB,None,None,None,eng,4.24,487,None,263883,18300,815,Carlos Ruiz ZafÃ³n
1241,1241,A Million Little Pieces,GB,None,None,None,en-CA,3.62,432,None,184295,10276,822,James Frey
1274,1274,"Men Are from Mars, Women Are from Venus",GB,None,None,None,en-US,3.52,None,None,113981,2622,848,John Gray
1295,1295,"The Clan of the Cave Bear (Earth's Children, #1)",GB,None,None,None,eng,4.02,512,Mass Market Paperback,176131,4144,861,Jean M. Auel
1301,1301,Moneyball: The Art of Winning an Unfair Game,GB,None,None,None,en-US,4.24,317,None,66444,3565,776,Michael Lewis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27239265,27239265,"The Short Drop (Gibson Vaughn, #1)",GB,None,None,None,eng,4.15,None,None,32698,2117,14126306,Matthew FitzSimmons
27252717,27252717,"The Score (Off-Campus, #3)",GB,None,None,None,eng,4.27,361,None,32765,3452,1935000,Elle Kennedy
27362503,27362503,It Ends with Us,GB,None,None,None,eng,4.44,None,Kindle Edition,80722,13487,5430144,Colleen Hoover
27401883,27401883,When I'm Gone,GB,None,None,None,eng,3.94,366,None,33476,1678,8546820,Emily Bleeker
27406704,27406704,Britt-Marie Was Here,GB,None,None,None,eng,4.07,324,None,21880,3751,6485178,Fredrik Backman
27419654,27419654,"The Last Girl (The Dominion Trilogy, #1)",GB,None,None,None,en-CA,3.77,386,None,14511,1143,5778174,Joe Hart
27423283,27423283,The Moonlit Garden,GB,None,None,None,eng,3.74,None,None,10951,813,2906147,Corina Bomann
27810589,27810589,A Death in Sweden,GB,None,None,None,None,3.79,None,None,12971,682,5094,Kevin Wignall
27868677,27868677,The House by the Lake,GB,None,None,None,en-US,3.90,234,None,10459,350,7779371,Ella Carey
28240855,28240855,The Girl You Lost,GB,None,None,None,eng,3.89,None,None,11772,853,7733791,Kathryn Croft
28257707,28257707,The Subtle Art of Not Giving a F*ck: A Counter...,GB,None,None,None,eng,4.03,None,ebook,41567,2877,15815787,Mark Manson
28374062,28374062,"The Kept Woman (Will Trent, #8)",GB,None,None,None,eng,4.10,461,None,8236,724,12504,Karin Slaughter
28686840,28686840,Holding Up the Universe,GB,None,None,None,eng,3.93,391,None,19595,3006,45592,Jennifer Niven
28802599,28802599,The Light of the Fireflies,GB,None,None,None,en-US,3.76,None,None,13837,1431,5028226,Paul Pen
28959148,28959148,We're All Damaged,GB,None,None,None,eng,3.85,284,None,16401,1342,6858,Matthew Norman
29236299,29236299,"Gemina (The Illuminae Files, #2)",GB,None,None,None,eng,4.56,659,Library Binding,11005,2507,5360335,Amie Kaufman
29354916,29354916,The Whistler,GB,None,None,None,en-GB,3.87,384,None,35014,3083,721,John Grisham
29367958,29367958,The Wall of Winnipeg and Me,GB,None,None,None,eng,4.34,673,None,29263,3183,5760202,Mariana Zapata
29405093,29405093,The Girl with the Lower Back Tattoo,GB,None,None,None,eng,3.76,323,None,47991,5228,13672918,Amy Schumer
29610595,29610595,Too Late,GB,None,None,None,eng,4.03,395,ebook,15147,2432,5430144,Colleen Hoover
29632984,29632984,The Things We Wish Were True,GB,None,None,None,eng,3.82,290,None,20895,1073,563202,Marybeth Mayhew Whalen
29639736,29639736,"Everything We Keep (Everything We Keep, #1)",GB,None,None,None,eng,3.84,306,None,69329,3621,14257762,Kerry Lonsdale
29868610,29868610,Scrappy Little Nobody,GB,None,None,None,eng,3.92,275,None,28881,3695,7041930,Anna Kendrick
29925715,29925715,The Sister,GB,None,None,None,eng,3.77,None,None,11612,444,15183346,Louise Jensen
29975458,29975458,Good as Gone,GB,None,None,None,eng,3.52,None,None,12155,1377,15197877,Amy Gentry
30314465,30314465,"No Man's Land (John Puller, #4)",GB,None,None,None,eng,4.19,433,None,8857,220,9291,David Baldacci
30831912,30831912,Norse Mythology,GB,None,None,None,eng,4.12,304,None,22445,2796,1221698,Neil Gaiman
31140847,31140847,Bossman,GB,None,None,None,eng,4.25,319,None,24412,2410,6887119,Vi Keeland
31194270,31194270,"Evelyn, After",GB,None,None,None,en-CA,3.64,None,None,9275,479,15179122,Victoria Helen Stone
33288638,33288638,Wait for It,GB,None,None,None,eng,4.22,670,None,18404,1490,5760202,Mariana Zapata

In [190]:
df_books_c[df_books_c['language_code'].isnull() == True]['country_code'].unique()

array(['GB'], dtype=object)

In [191]:
# Fill language code with 'eng' since country = GB (assumption):

df_books_c['language_code'] = df_books_c['language_code'].fillna('eng')

/Users/tpancier/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [192]:
# Checking NaN values were filled
sum(df_books_c['language_code'].isnull() == True)

0

In [193]:
df_books_c[df_books_c['num_pages'].isnull() == True]

,id,title,country_code,publication_year,publication_month,publication_day,language_code,average_rating,num_pages,format,ratings_count,text_reviews_count,authors,author_name
50,50,"Hatchet (Brian's Saga, #1)",GB,None,None,None,en-US,3.68,None,None,222727,9307,18,Gary Paulsen
119,119,The Lord of the Rings: The Art of The Fellowsh...,GB,None,None,None,en-US,4.59,None,None,24343,64,60,Gary Russell
249,249,Tropic of Cancer,GB,None,None,None,eng,3.71,None,None,45552,2033,147,Henry Miller
250,250,Tropic of Capricorn,GB,None,None,None,eng,3.85,None,None,12089,405,147,Henry Miller
647,647,No Logo,GB,None,None,None,en-US,3.86,None,None,18806,637,419,Naomi Klein
900,900,The Game: Penetrating the Secret Society of Pi...,GB,None,None,None,en-US,3.73,None,None,16709,1346,588,Neil Strauss
952,952,The Five Love Languages of Children,GB,None,None,None,eng,4.21,None,None,9746,961,622,Gary Chapman
1005,1005,Think and Grow Rich: The Landmark Bestseller -...,GB,None,None,None,eng,4.17,None,None,87458,2186,399,Napoleon Hill
1274,1274,"Men Are from Mars, Women Are from Venus",GB,None,None,None,en-US,3.52,None,None,113981,2622,848,John Gray
1428,1428,By the River Piedra I Sat Down and Wept,GB,None,None,None,eng,3.57,None,None,62140,2409,566,Paulo Coelho
1524,1524,"Agamemnon (Oresteia, #1)",GB,2003,11,6,eng,3.82,None,Paperback,11520,144,990,Aeschylus
1824,1824,The Men Who Stare at Goats,GB,None,None,None,en-US,3.58,None,None,8251,769,1218,Jon Ronson
1869,1869,Nickel and Dimed: On (Not) Getting By in America,GB,2002,5,1,eng,3.60,None,None,152816,5240,1257,Barbara Ehrenreich
1897,1897,Eiger Dreams: Ventures Among Men and Mountains,GB,None,None,None,eng,3.97,None,None,14018,447,1235,Jon Krakauer
2067,2067,Breaking the Spell: Religion as a Natural Phen...,GB,None,None,None,en-US,3.89,None,None,8393,282,6952980,Daniel C. Dennett
2122,2122,The Fountainhead,GB,1996,9,1,eng,3.85,None,Mass Market Paperback,244650,9082,432,Ayn Rand
2159,2159,Confessions of an Economic Hit Man,GB,None,None,None,en-US,3.83,None,None,19739,2286,1452,John Perkins
2615,2615,The Innovator's Dilemma: The Revolutionary Boo...,GB,None,None,None,eng,4.00,None,None,22030,517,1792,Clayton M. Christensen
2767,2767,A People's History of the United States,GB,None,None,None,eng,4.07,None,None,137558,3978,1899,Howard Zinn
3291,3291,The Stories of Eva Luna,GB,None,None,None,en-US,3.96,None,None,10865,338,2238,Isabel Allende
3381,3381,Hey Nostradamus!,GB,None,None,None,eng,3.72,None,None,14655,509,1886,Douglas Coupland
3465,3465,Three Weeks With My Brother,GB,None,None,None,eng,4.01,None,None,32218,2443,2345,Nicholas Sparks
3559,3559,From Beirut to Jerusalem,GB,1990,7,15,en-US,4.10,None,None,8061,651,16759765,Thomas L. Friedman
3973,3973,"Ilium (Ilium, #1)",GB,None,None,None,eng,4.01,None,Mass Market Paperback,19247,761,2687,Dan Simmons
4135,4135,I Like You: Hospitality Under the Influence,GB,None,None,None,eng,3.87,None,None,34226,1346,2848,Amy Sedaris
4530,4530,Olivia Joules and the Overactive Imagination,GB,None,None,None,en-US,3.10,None,None,10691,675,3090,Helen Fielding
4687,4687,The Cider House Rules,GB,None,None,None,eng,4.10,None,None,124931,2424,3075,John Irving
4701,4701,A Spot of Bother,GB,None,None,None,eng,3.46,None,Paperback,23683,2257,1050,Mark Haddon
4909,4909,"Teacher Man (Frank McCourt, #3)",GB,None,None,None,eng,3.73,None,None,23741,1824,3347,Frank McCourt
5068,5068,Last Orders,GB,None,None,None,eng,3.68,None,None,9352,255,3449,Graham Swift
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24473763,24473763,"Radiance (Wraith Kings, #1)",GB,2015,1,13,eng,4.12,None,None,13131,1366,2759153,Grace Draven
24488476,24488476,"The Fate of Ten (Lorien Legacies, #6)",GB,None,None,None,eng,4.32,None,None,16840,1603,3380908,Pittacus Lore
24631990,24631990,"Silent Scream (D.I. Kim Stone, #1)",GB,None,None,None,eng,4.02,None,None,9560,420,7942666,Angela Marsons
24859245,24859245,"Stranger Child (DCI Tom Douglas, #4)",GB,None,None,None,eng,4.18,None,None,11902,516,5349971,Rachel Abbott
24937499,24937499,"Her Final Breath (Tracy Crosswhite, #2)",GB,None,None,None,eng,4.27,None,None,17539,896,63650,Robert Dugoni
25041504,25041504,"After You (Me Before You, #2)",GB,None,None,None,eng,3.70,None,None,99580,8677,281810,Jojo Moyes
25104491,25104491,The Prettiest One,GB,2015,10,1,eng,3.66,None,None,10615,688,6644088,James Hankins
25153134,25153134,Follow You Home,GB,None,None,None,en-CA,3.86,None,None,15899,796,5267328,Mark Edwards
25316313,25316313,A Dark Lure,GB,None,None,None,en-US,4.14,None,None,12605,1094,150272,Loreth Anne White
25693079,25693079,Crooked Little Lies,GB,None,None,None,eng,3.52,None,None,7673,515,584581,Barbara Taylor Sissel
25813921,25813921,"Grit: Passion, Perseverance, and the Science o...",GB,2016,5,3,eng,4.08,None,Audiobook,7980,823,14132767,Angela Duckworth
25837338,25837338,The Girl from Krakow,GB,None,None,None,eng,3.79,None,None,9597,588,2545883,Alex Rosenberg
25837341,25837341,The Good Neighbor,GB,None,None,None,eng,3.33,None,None,37618,2684,13522695,A.J. Banner
25899336,25899336,When Breath Becomes Air,GB,None,None,None,eng,4.32,None,None,117367,9522,14031444,Paul Kalanithi
26061591,26061591,"Extreme Prey (Lucas Davenport, #26)",GB,None,None,None,en-US,4.29,None,None,6266,219,4610,John Sandford
26158341,26158341,The Girl With No Past,GB,2015,10,15,en-US,3.59,None,None,15582,1031,7733791,Kathryn Croft
26583370,26583370,Life and Other Near-Death Experiences,GB,None,None,None,en-GB,3.82,None,None,19114,1527,4462824,Camille PagÃ¡n
27152124,27152124,"Dirty English (English, #1)",GB,None,None,None,eng,3.95,None,None,16134,1736,7059622,Ilsa Madden-Mills
27239265,27239265,"The Short Drop (Gibson Vaughn, #1)",GB,None,None,None,eng,4.15,None,None,32698,2117,14126306,Matthew FitzSimmons
27362503,27362503,It Ends with Us,GB,None,None,None,eng,4.44,None,Kindle Edition,80722,13487,5430144,Colleen Hoover
27423283,27423283,The Moonlit Garden,GB,None,None,None,eng,3.74,None,None,10951,813,2906147,Corina Bomann
27810589,27810589,A Death in Sweden,GB,None,None,None,eng,3.79,None,None,12971,682,5094,Kevin Wignall
28240855,28240855,The Girl You Lost,GB,None,None,None,eng,3.89,None,None,11772,853,7733791,Kathryn Croft
28257707,28257707,The Subtle Art of Not Giving a F*ck: A Counter...,GB,None,None,None,eng,4.03,None,ebook,41567,2877,15815787,Mark Manson
28802599,28802599,The Light of the Fireflies,GB,None,None,None,en-US,3.76,None,None,13837,1431,5028226,Paul Pen
29925715,29925715,The Sister,GB,None,None,None,eng,3.77,None,None,11612,444,15183346,Louise Jensen
29975458,29975458,Good as Gone,GB,None,None,None,eng,3.52,None,None,12155,1377,15197877,Amy Gentry
30002998,30002998,Two By Two,GB,2016,10,4,eng,3.90,None,Kindle Edition,27796,2437,2345,Nicholas Sparks
30839185,30839185,"Vicious (Sinners of Saint, #1)",GB,2016,12,27,en-US,4.25,None,Kindle Edition,15502,2182,13531492,L.J. Shen
31194270,31194270,"Evelyn, After",GB,None,None,None,en-CA,3.64,None,None,9275,479,15179122,Victoria Helen Stone

In [194]:
# Dropping NaN columns:

try:
    df_books_c = df_books_c.drop(['publication_year', 'publication_month', 'publication_day', 'num_pages', 'format'], axis=1)
except Exception:
        pass

In [195]:
df_books_c.columns

Index(['id', 'title', 'country_code', 'language_code', 'average_rating',
       'ratings_count', 'text_reviews_count', 'authors', 'author_name'],
      dtype='object')

In [196]:
# Change type of numeric columns

df_books_c['id'] = df_books_c['id'].astype(dtype='int64')
df_books_c['average_rating'] = df_books_c['average_rating'].astype(dtype='float64')
df_books_c['ratings_count'] = df_books_c['ratings_count'].astype(dtype='int64')
df_books_c['text_reviews_count'] = df_books_c['text_reviews_count'].astype(dtype='int64')
df_books_c['authors'] = df_books_c['authors'].astype(dtype='int64')

In [197]:
# Check type of remaining columns:

df_books_c.dtypes

id                      int64
title                  object
country_code           object
language_code          object
average_rating        float64
ratings_count           int64
text_reviews_count      int64
authors                 int64
author_name            object
dtype: object

In [198]:
df_books_c.index

Int64Index([       1,        2,        3,        5,        6,        8,
                  10,       11,       13,       21,
            ...
            31140847, 31176886, 31194270, 31538614, 31538635, 31538647,
            31845516, 32075671, 32848471, 33288638],
           dtype='int64', length=10000)

In [199]:
# Rename id column

df_books_c = df_books_c.rename({'id':'book_id'}, axis=1)

In [200]:
df_books_c.index

Int64Index([       1,        2,        3,        5,        6,        8,
                  10,       11,       13,       21,
            ...
            31140847, 31176886, 31194270, 31538614, 31538635, 31538647,
            31845516, 32075671, 32848471, 33288638],
           dtype='int64', length=10000)

In [286]:
df_books_c.shape

(10000, 10)

**Cleaning df_authors**

In [201]:
df_author.columns

Index(['id', 'name', 'role', 'image_url', 'small_image_url', 'link',
       'average_rating', 'ratings_count', 'text_reviews_count'],
      dtype='object')

In [202]:
(df_author.isnull() == True).sum(axis=0)

id                       0
name                     0
role                  9816
image_url                0
small_image_url          0
link                     0
average_rating           0
ratings_count            0
text_reviews_count       0
dtype: int64

In [203]:
df_author['role'].unique()

array([None, 'Editor', 'Pseudonym', 'Story', 'Adapter', 'Adapted by',
       'pseudonym', 'Writer', 'Script, plot', 'Adaptor, Illustrator',
       'Writer, Artist', 'Adaptor', 'adaptor', 'as "Anonymous"',
       'Arrangement', 'Adapter, Illustrator',
       'introduction and screenplay', 'adapter', 'Author/Illustrator',
       'Illustrator', 'Annotations', 'Text', 'Music, Lyrics', 'creator',
       'Editor, writer', 'Author and Illustrator', 'Ghostwriter',
       'Contributor/Editor', 'Scriptwriter', 'retold by', 'Illustrations',
       'Creator', 'Retelling', 'Adapted By', 'writer', 'Alias',
       'Writer, Artist, Water Colourist', 'Art/Adaptation',
       'Based on the novels', 'co-author', 'Editor/Contributor',
       'Pen Name', 'Illustrator / Contributor', 'Adaptation', 'Compiler',
       'Original Author', 'English Script'], dtype=object)

In [204]:
# Dropping NaN and unrelevant columns:

try:
    df_author_c = df_author.drop(['role', 'image_url', 'small_image_url', 'link'], axis=1)
except Exception:
        pass

In [205]:
df_author_c.shape

(10000, 5)

In [206]:
# Remove duplicate lines in df_author

df_author_c.drop_duplicates(inplace=True)

In [207]:
df_author_c.shape

(6273, 5)

In [208]:
df_author_c.columns

Index(['id', 'name', 'average_rating', 'ratings_count', 'text_reviews_count'], dtype='object')

In [209]:
# Change type of numeric columns

df_author['id'] = df_author['id'].astype(dtype='int64')
df_author['average_rating'] = df_author['average_rating'].astype(dtype='float64')
df_author['ratings_count'] = df_author['ratings_count'].astype(dtype='int64')
df_author['text_reviews_count'] = df_author['text_reviews_count'].astype(dtype='int64')

In [210]:
df_author_c.index

Int64Index([       1,        8,       11,       21,       25,       29,
                  30,       36,       50,       67,
            ...
            29991719, 30002998, 30008702, 30226723, 30555488, 30839185,
            31140847, 31194270, 31845516, 32075671],
           dtype='int64', length=6273)

In [211]:
# Rename id column

df_author_c = df_author_c.rename({'id':'author_id'}, axis=1)

In [212]:
df_author_c.columns

Index(['author_id', 'name', 'average_rating', 'ratings_count',
       'text_reviews_count'],
      dtype='object')

In [213]:
df_author_c.index

Int64Index([       1,        8,       11,       21,       25,       29,
                  30,       36,       50,       67,
            ...
            29991719, 30002998, 30008702, 30226723, 30555488, 30839185,
            31140847, 31194270, 31845516, 32075671],
           dtype='int64', length=6273)

**Cleaning df_work**

In [214]:
df_work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 33288638
Data columns (total 17 columns):
id                                   10000 non-null object
books_count                          10000 non-null object
best_book_id                         10000 non-null object
reviews_count                        10000 non-null object
ratings_sum                          10000 non-null object
ratings_count                        10000 non-null object
text_reviews_count                   10000 non-null object
original_publication_year            9979 non-null object
original_publication_month           6122 non-null object
original_publication_day             5643 non-null object
original_title                       9416 non-null object
original_language_id                 0 non-null object
media_type                           9983 non-null object
rating_dist                          10000 non-null object
desc_user_id                         9297 non-null object
default_chaptering_book_id           157 non-null object
default_description_language_code    0 non-null object
dtypes: object(17)
memory usage: 1.4+ MB

In [215]:
# adding work_id to df_books_c

df_books_c['work_id'] = df_work['id']
df_books_c['work_id'] = df_books_c['work_id'].astype(dtype='int64')

In [216]:
# Rename id column

df_work_c = df_work.rename({'id':'work_id'}, axis=1)

In [217]:
# Changing type of numeric columns

df_work_c['books_count'] = df_work_c['books_count'].astype(dtype='int64')
df_work_c['best_book_id'] = df_work_c['best_book_id'].astype(dtype='int64')
df_work_c['reviews_count'] = df_work_c['reviews_count'].astype(dtype='int64')
df_work_c['ratings_sum'] = df_work_c['ratings_sum'].astype(dtype='float64')
df_work_c['ratings_count'] = df_work_c['ratings_count'].astype(dtype='int64')
df_work_c['text_reviews_count'] = df_work_c['text_reviews_count'].astype(dtype='int64')
df_work_c['work_id'] = df_work_c['work_id'].astype(dtype='int64')

In [218]:
df_work_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 33288638
Data columns (total 17 columns):
work_id                              10000 non-null int64
books_count                          10000 non-null int64
best_book_id                         10000 non-null int64
reviews_count                        10000 non-null int64
ratings_sum                          10000 non-null float64
ratings_count                        10000 non-null int64
text_reviews_count                   10000 non-null int64
original_publication_year            9979 non-null object
original_publication_month           6122 non-null object
original_publication_day             5643 non-null object
original_title                       9416 non-null object
original_language_id                 0 non-null object
media_type                           9983 non-null object
rating_dist                          10000 non-null object
desc_user_id                         9297 non-null object
default_chaptering_book_id           157 non-null object
default_description_language_code    0 non-null object
dtypes: float64(1), int64(6), object(10)
memory usage: 1.4+ MB

In [219]:
# Dropping NaN and unrelevant columns:

try:
    df_work_c = df_work_c.drop(['original_publication_year', 'original_publication_month', 'original_publication_day', 'original_title', 'original_language_id', 'media_type', 'desc_user_id','default_chaptering_book_id','default_description_language_code'], axis=1)
except Exception:
        pass

In [220]:
df_work_c.index

Int64Index([       1,        2,        3,        5,        6,        8,
                  10,       11,       13,       21,
            ...
            31140847, 31176886, 31194270, 31538614, 31538635, 31538647,
            31845516, 32075671, 32848471, 33288638],
           dtype='int64', length=10000)

**Cleaning df_ratings**

In [221]:
# Checking null values
(df_ratings.isnull() == True).sum(axis=0)

user_id    0
book_id    0
rating     0
dtype: int64

In [222]:
df_ratings.columns

Index(['user_id', 'book_id', 'rating'], dtype='object')

In [223]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5976479 entries, 0 to 5976478
Data columns (total 3 columns):
user_id    int64
book_id    int64
rating     int64
dtypes: int64(3)
memory usage: 136.8 MB

In [287]:
df_ratings.shape

(5976479, 3)

In [224]:
df_books_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 33288638
Data columns (total 10 columns):
book_id               10000 non-null int64
title                 10000 non-null object
country_code          10000 non-null object
language_code         10000 non-null object
average_rating        10000 non-null float64
ratings_count         10000 non-null int64
text_reviews_count    10000 non-null int64
authors               10000 non-null int64
author_name           10000 non-null object
work_id               10000 non-null int64
dtypes: float64(1), int64(5), object(4)
memory usage: 859.4+ KB

In [277]:
# Adding books info from df_books_c (by book_id)

df_ratings_c = df_ratings.merge(df_books_c, how='left', left_on='book_id', right_on='book_id')
df_ratings_c = df_ratings_c[df_ratings_c['title'].notnull()]
df_ratings_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705914 entries, 5 to 5976446
Data columns (total 12 columns):
user_id               705914 non-null int64
book_id               705914 non-null int64
rating                705914 non-null int64
title                 705914 non-null object
country_code          705914 non-null object
language_code         705914 non-null object
average_rating        705914 non-null float64
ratings_count         705914 non-null float64
text_reviews_count    705914 non-null float64
authors               705914 non-null float64
author_name           705914 non-null object
work_id               705914 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 70.0+ MB

In [278]:
# Changing types for numeric columns

df_ratings_c['ratings_count'] = df_ratings_c['ratings_count'].astype(dtype='int64')
df_ratings_c['text_reviews_count'] = df_ratings_c['text_reviews_count'].astype(dtype='int64')
df_ratings_c['authors'] = df_ratings_c['authors'].astype(dtype='int64')
df_ratings_c['work_id'] = df_ratings_c['work_id'].astype(dtype='int64')

**Cleaning df_book_tags**

In [279]:
(df_book_tags.isnull() == True).sum(axis=0)

goodreads_book_id    0
tag_id               0
count                0
dtype: int64

In [280]:
# Renaming id column

df_book_tags_c = df_book_tags.rename({'goodreads_book_id':'book_id'}, axis=1)

**Cleaning df_tags**

In [281]:
(df_tags.isnull() == True).sum(axis=0)

# No change to be made

tag_id      0
tag_name    0
dtype: int64

**Cleaning df_to_read**

In [282]:
(df_to_read.isnull() == True).sum(axis=0)

# No type change to be made

user_id    0
book_id    0
dtype: int64

In [283]:
# Adding books info from df_books_c (by book_id)

df_to_read_c = df_to_read.merge(df_books_c, how='left', left_on='book_id', right_on='book_id')
df_to_read_c = df_to_read_c[df_to_read_c['title'].notnull()]
df_to_read_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87493 entries, 0 to 912701
Data columns (total 11 columns):
user_id               87493 non-null int64
book_id               87493 non-null int64
title                 87493 non-null object
country_code          87493 non-null object
language_code         87493 non-null object
average_rating        87493 non-null float64
ratings_count         87493 non-null float64
text_reviews_count    87493 non-null float64
authors               87493 non-null float64
author_name           87493 non-null object
work_id               87493 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 8.0+ MB

In [284]:
# Changing types for numeric columns

df_to_read_c['ratings_count'] = df_to_read_c['ratings_count'].astype(dtype='int64')
df_to_read_c['text_reviews_count'] = df_to_read_c['text_reviews_count'].astype(dtype='int64')
df_to_read_c['authors'] = df_to_read_c['authors'].astype(dtype='int64')
df_to_read_c['work_id'] = df_to_read_c['work_id'].astype(dtype='int64')

**Saving dataframes in csv files**

In [285]:
df_books_c.to_csv('df_books_c.csv', index=False)
df_author_c.to_csv('df_author_c.csv', index=False)
df_ratings_c.to_csv('df_ratings_c.csv', index=False)
df_book_tags_c.to_csv('df_book_tags_c.csv', index=False)
df_book_tags.to_csv('df_tags_c.csv', index=False)
df_to_read_c.to_csv('df_to_read_c.csv', index=False)
df_work_c.to_csv('df_work_c.csv', index=False)